@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  text-align: center;
}
#searchContainer {
  font-family: 'Roboto', sans-serif !important;
}

#settingsPanel {
  padding: 20px;
}

.submitButton {
  margin-top: 20px;
}

#api-label, label, select, textarea {
  font-family: 'Roboto', sans-serif !important;
  font-size: 0.85em;
  padding-right: 10px;
  font-size: 14px;
}

#fields label {
  margin-left: 10px;
}

input {
  margin-right: 10px;
}

.searchInput {
  margin-left: 10px;
  width: 250px; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
